.count-text {
  margin: 30px 20px;
  display: block;
  font-size: 20px;
  color: #1c3967;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.image-count {
  height: 80px;
  width: 80px;
  background: #d5e2f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  transition: 0.5s;
  margin: auto;
  /* &:hover {
    background: red;
    bottom: 7px;
    transition: 0.5s;
   
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.3);
      border-radius: 50%;
      top: 7px;
      left: 7px;
      z-index: -1;
    }
  } */
}
.count-list-item .image-count img {
  filter: brightness(1);
  transition: filter 0.3s ease; /* Thêm hiệu ứng chuyển đổi màu sắc */
}

.count-list-item:hover .image-count img {
  filter: brightness(0) invert(1);
}

.number-count {
  color: #065a9e;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-count {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.count-list-item {
  position: relative;
}

.count-list-item:hover {
  color: red;
  transform: translateY(-6px);
  transition: 0.5s;
  .image-count {
    background-color: red;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.3);
      border-radius: 50%;
      top: 7px;
      left: 7px;
      z-index: -1;
    }
  }
}
.count-list-item:hover .item-count > * {
  color: red;
}
.count-list {
  display: flex;
  justify-content: space-around;
  margin: 0 180px;
}

@media only screen and (max-width: 46.25em) {
  .count-text {
    font-size: 15px;
  }
  .item-count {
    margin: 0;
  }
  .count-list {
    max-width: 100%; /* Đảm bảo phần tử không vượt quá chiều rộng của màn hình */
    margin: 0;
    flex-wrap: wrap;
  }
}
