/* Header.css */

.navbar {
  /* top: 0; */
  width: 100%;
  /* height: 90px; */
  position: fixed;

  z-index: 9;
  background: #d5e2f7;
  height: max-content;
  background-color: #f2f6fc;
  width: 100%;
}

.container {
  /* display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 24px 0 24px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  height: 80px;
  max-width: 1200px;
  margin: auto;
}

.left-header {
  display: flex;
  align-items: center;
}

.logo-ctn {
  display: flex;
  align-items: center;
}
.logo-ctn img {
  width: 55px;
  height: 55px;
}
.page-name {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  color: red;
  animation: tagSlogan 5s infinite;
}

.right-header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.nav_pc {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header-button {
  z-index: 3;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  margin: 0 10px;
  color: #000;
  background-color: transparent !important;
  transition-property: color;
  transition-duration: 0.2s;
  &:hover {
    color: #e10422 !important;
  }
}

.header__school {
  position: absolute;
  top: 78px;
  left: 710px;
  background-color: #fff;
  height: 330px;
  width: 295px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  box-shadow: 0 2px 8px #ccc;
  z-index: 9;
}
.header__school::after {
  content: '';
  display: block;
  position: absolute;
  top: -30px; /* Đặt giá trị này để phần tử nằm trên đỉnh của .header__school */
  right: 105px;
  width: 80px;
  height: 40px;
  z-index: 9;
}

.header__school-list {
  width: 100%;
  z-index: 9;
  height: 310px;
  list-style: none;
  padding: 0px 0px 0px 10px;
  overflow-y: scroll;
  margin: 10px -10px 10px -10px; /* Điều chỉnh khoảng cách top và bottom theo nhu cầu của bạn */
}
.header-button-has-list:hover .header__school {
  display: block;
}

.header__school-item {
  padding: 5px 0;
}
.header__school-item-name {
  text-decoration: none;
  color: rgb(28, 57, 103);
  background-color: rgba(0, 0, 0, 0);
  line-height: 20px;
  vertical-align: baseline;
  letter-spacing: normal;
  margin: 0px;
  padding-left: 10px;
  font-weight: 700;
  text-align: left;
  font-size: 13px;
  /* text-decoration: none solid rgb(28, 57, 103); */
}
.header__school-item-name:hover {
  text-decoration: underline;
}

.login-logout {
  border: 1px solid #1c3967;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 15px;
  margin: 0 15px;
  background-color: transparent;
  text-decoration: none;
  line-height: 1.75;
  min-width: 64px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #1c3967;
  }
}
.cart-button {
  color: #e10422;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.cart-panel {
  margin-right: 20px;
}
.nav_bar-btn {
  align-self: center;
  width: 34px;
  height: 34px;
  color: rgb(211, 47, 47);
  display: none;
}
/* Các class CSS khác cho các thành phần khác */
/* Tùy chỉnh vị trí xuống dưới và chiều rộng 100% */
.nav_mobile {
  display: none;
}
/*Responsive cho Mobile */
@media only screen and (max-width: 46.25em) {
  .container {
    padding: 0 16px;
  }
  .page-name {
    display: none;
  }
  .nav_pc {
    display: none;
  }
  .nav_mobile {
    display: inline-flex;

    align-items: center;

    justify-content: center;
    position: relative;
    box-sizing: border-box;

    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 16px 0px -12px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(211, 47, 47);
  }
  .right-header {
    padding-right: 0;
  }
  .login-logout {
    font-size: 10px;
    padding: 3px 0;
    margin: 0 5px;
  }
  .logo-ctn img {
    width: 45px;
    height: 45px;
  }
}
