/* SwiperImage.css */
.swiper-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  width: 100vw; /* Sử dụng 100vw để làm cho chiều rộng bằng viewport width */
  overflow: hidden;
  padding-top: 100px;
}
/* Tạo dots có hình tròn */
.custom-dot {
  width: 14px;
  height: 14px;
  background-color: #ccc; /* Màu mặc định của dots */
  border-radius: 50%; /* Biến dots thành hình tròn */
  margin: 0 5px; /* Khoảng cách giữa các dots */
  cursor: pointer;
  position: absolute;
  bottom: -50px; /* Điều chỉnh vị trí dưới phía bên dưới phần ảnh */
  transform: translateX(-50%); /* Đưa dots vào giữa theo chiều ngang */
}

/* Chuyển đổi màu của dots khi được chọn */
.slick-active .custom-dot {
  background-color: red; /* Màu của dots khi được chọn (màu đỏ) */
}

.slide {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.banner-panel {
  width: 1392px;
}
.swiper-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* Sử dụng media query để điều chỉnh kích thước hình ảnh khi chuyển sang chế độ mobile */
@media only screen and (max-width: 46.25em) {
  .slide {
    max-width: 60vh;
    height: auto;
  }
  .swiper-image {
    padding: 0 16px;
  }
}
